.konten {
    display: none; 
}

ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

ul li a{
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

nav ul li a:hover{
    color: black;
}
#profile img {
    border-radius: 360px;
}
